$button-primary: $pco_blue;
$button-secondary: adjust-color($lightGray, $lightness: -20%);
$button-danger: $danger_color;

.btn {
  background: $button-primary;
  color: #fff;
  border: 1px solid $button-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 7px 12px 8px 12px;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: .1s all ease;
  font-family: $base_font;
  font-size: .9em;

  &:hover {
    background: adjust-color($button-primary, $lightness: 4%);
  }

  .symbol {
    width: .9em;
    height: .9em;
    position: relative;
    margin: 0 6px 0 2px;
    fill: currentColor;
  }

  &.btn--secondary {
    background: $button-secondary;
    border: 1px solid $button-secondary;
    color: $medGray;

    &:hover {
      background: lighten($button-secondary, 3%);
    }

    .symbol {
      fill: $medGray;
    }
  }

  &.btn--outline {
    background: none;
    color: $button-primary;

    .symbol {
      fill: $button-primary;
    }

    &:hover {
      background: $button-primary;
      color:#fff;

      .symbol {
        fill: #fff;
      }
    }
  }

  &.btn--outline.btn--secondary {
    color: $button-secondary;

    .symbol {
      fill: $button-secondary;
    }

    &:hover {
      background: lighten($button-secondary, 3%);
      color: $medGray;

      .symbol {
        fill: $medGray;
      }
    }
  }

  &.btn--danger {
    background: $button-danger;
    border: 1px solid $button-danger;

    &:hover {
      background: adjust-color($button-danger, $lightness: 4%);
    }
  }

  &.btn--outline.btn--danger {
    background: none;
    color: $button-danger;

    .symbol {
      fill: $button-danger;
    }

    &:hover {
      background: $button-danger;
      color: #fff;

      .symbol {
        fill: #fff;
      }
    }
  }

  &.btn--sm {
    font-size: .8em;
    padding: 5px 9px 6px 9px;
    font-weight: normal;

    .symbol {
      height: .85em;
      width: .85em;
    }
  }
}


// buttons demo
.buttons-demo {

  .btn {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
