.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;

  @include breakpoints(from-med) {
    flex-direction: row;
  }
}

.content {
  padding: 1em;

  @include breakpoints(from-med) {
    padding: 2em;
    flex:1;
  }
}
