.contentWrapper {
  max-width: 120em;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #fff;
  display: block;
}

#content {
  padding: 1.5em;

  @include breakpoints(from-med) {
    padding: calc(#{$header_height_med} + 2.5em) 2.5em 4em calc(#{$nav_width_med} + 2.5em);
  }

  @include breakpoints(from-lg) {
    padding-left: calc(#{$nav_width_lg} + 2.5em;)
  }
}
