body {
  background: adjust-color($background, $lightness: -2%);
  min-height: 100vh;
  height: 100%;
  max-width: 105em;
  margin: 0 auto;
  padding: 0;
  font-family: $base_font;
  color: $base_font_color;

  @media (min-width: 105em) {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
}


.pageWrapper {
  background: $background;

  &> div {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.symbol {
  height: 20px;
  width: 20px;
  display: inline-block;
  transition: .15s all ease;

  &.blank-state-icon {
    fill: $pco_blue;
    width: 2.5em;
    height: 2.5em;
  }
}
