header {
  width: 100%;
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $pco_blue;

  @include breakpoints(from-med) {
    background: $lightGray;
    border-bottom: 1px solid adjust-color($lightGray, $lightness: -10%);
  }

  .logo {
    width: 70%;
    height: $headerHeight;
    display: block;
    background: $pco_blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content:'';
      display: block;
      top: 100%;
      left: 0;
      position: absolute;
      height: 1px;
      width: 100%;
      background: $pco_blue;
    }

    @include breakpoints(from-med) {
      width: get($sidebarWidth, med);
    }

    @include breakpoints(from-lg) {
      width: get($sidebarWidth, lg);
    }

    @include breakpoints(from-xl) {
      width: get($sidebarWidth, xl);
    }

    img {
      width: calc(100% - 3em);
      position: relative;
      top: .25em
    }
  }

  .externalLinks {
    display: none;

    @include breakpoints(from-med) {
      display: flex;
      flex-direction: row;
    }

    a {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 1em 0 0;
      text-decoration: none;
      color: $medGray;
      font-weight: normal;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: adjust-color($medGray, $lightness: -10%);

        .symbol {
          fill: adjust-color($medGray, $lightness: -10%);
        }
      }
    }

    .symbol {
      width: 14px;
      height: 14px;
      fill: $medGray;
      margin: 0 .375em 0 0;
      top: 1px;
      position: relative;
    }
  }
}
