nav {
  width: 100%;
  height: auto;
  background: adjust-color($pco_blue, $lightness: -8%);
  display: block;

  @include breakpoints(from-med) {
    width: $nav_width_med;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include breakpoints(from-lg) {
    width: $nav_width_lg;
  }

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: calc(#{$header_height_med} + 1.5em);
    background: $pco_blue;
    background: linear-gradient(to top, adjust-color($pco_blue, $lightness: -8%) 0%, adjust-color($pco_blue, $lightness: -22%) 100%);
    z-index: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $header_height_sm;
    box-sizing: border-box;
    background: $pco_blue;
    border-bottom: 1px solid adjust-color($pco_blue, $lightness: -15%);
    z-index: 1;
    position: relative;
    padding: 0 1.5em;

    @include breakpoints(from-med) {
      justify-content: center;
      height: $header_height_med;
      padding: .125em 1.5em 0 1.5em;
    }

    img {
      width: 50%;
      height: auto;
      display: block;

      @include breakpoints(from-med) {
        width: 100%;
      }
    }
  }

  ul {
    display: block;
    list-style: none;
    margin: 2em 0 0 0;
    padding: 0;

    li {
      display: block;
      margin: 0 0 .25em 0;
      padding: 0;
      width: 100%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      text-decoration: none;
      padding: 1.25em 1.5em 1.25em 2.5em;
      width: 100%;
      box-sizing: border-box;
      position: relative;

      &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background: #fff;
        opacity: 0;
        transition: .15s all ease;
      }

      &:hover {
        background: rgba(#fff, .05);
      }

      &.active {
        background: rgba(#fff, .1);

        &:before {
          opacity: 1;
        }
      }
    }

    svg {
      fill: #fff;
      margin: 0 1em 0 0;
      position: relative;
      top: 1px;
    }
  }
}
