h1, h2, h3, p {
  margin-top: 0;
}

h1 {
  color: $pco_blue;
}

h2 {
  color: $pco_blue;
}

p {
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}

a {
  color: $link_color;
  transition: .15s all ease;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $link_hover_color;
    text-decoration: underline;
  }
}
