@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
$base_font: "Lato", sans-serif;
$base_font_color: #4a4a4a;


// colors
$pco_blue: #2565f4;
$lightGray: #F5F5F5;
$medGray: #808080;
$background: #f9f9f9;


// layout/element sizes
$headerHeight: 8em;

$sidebarWidth: (
  med: 300px,
  lg: 280px,
  xl: 320px
);

$avatar-size: 2.25em;


// helper functions
@function get($map, $key) {
  @if map-has-key($map, $key) {
      @return map-get($map, $key);
  } @else {
      @error "ERROR: Specified index does not exist in the mapping";
  }
}
